<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpense</key>
		<false/>
		<key>colorName</key>
		<string>ArrowsInc</string>
		<key>imageName</key>
		<string>Перевод</string>
		<key>name</key>
		<string>Перевод</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Arrows</string>
		<key>imageName</key>
		<string>Перевод</string>
		<key>name</key>
		<string>Перевод</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Bank</string>
		<key>imageName</key>
		<string>Кредит</string>
		<key>name</key>
		<string>Кредит</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<false/>
		<key>colorName</key>
		<string>BankInc</string>
		<key>imageName</key>
		<string>Кредит</string>
		<key>name</key>
		<string>Вклад</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<string>0</string>
		<key>colorName</key>
		<string>Gift</string>
		<key>imageName</key>
		<string>Подарок</string>
		<key>name</key>
		<string>Подарок</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<string>1</string>
		<key>colorName</key>
		<string>Auto</string>
		<key>imageName</key>
		<string>Автомобиль</string>
		<key>name</key>
		<string>Автомобиль</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Alco</string>
		<key>imageName</key>
		<string>Алкоголь</string>
		<key>name</key>
		<string>Алкоголь</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Gym</string>
		<key>imageName</key>
		<string>Гантеля</string>
		<key>name</key>
		<string>Спорт</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Home</string>
		<key>imageName</key>
		<string>ЖКХ</string>
		<key>name</key>
		<string>ЖКХ</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<string>0</string>
		<key>colorName</key>
		<string>Salary</string>
		<key>imageName</key>
		<string>Зарплата</string>
		<key>name</key>
		<string>Зарплата</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Wi-Fi</string>
		<key>imageName</key>
		<string>Интернет</string>
		<key>name</key>
		<string>Интернет</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Cinema</string>
		<key>imageName</key>
		<string>Кино</string>
		<key>name</key>
		<string>Кино/Театр</string>
	</dict>
	<dict>
		<key>typeName</key>
		<true/>
		<key>colorName</key>
		<string>Coffee</string>
		<key>imageName</key>
		<string>Кофе</string>
		<key>name</key>
		<string>Кофе</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Plus</string>
		<key>imageName</key>
		<string>Крест</string>
		<key>name</key>
		<string>Здоровье</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Wash</string>
		<key>imageName</key>
		<string>Машинка</string>
		<key>name</key>
		<string>Техника</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Ball</string>
		<key>imageName</key>
		<string>Мяч</string>
		<key>name</key>
		<string>Спорттовары</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Cloathers</string>
		<key>imageName</key>
		<string>Одежда</string>
		<key>name</key>
		<string>Одежда</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Tree</string>
		<key>imageName</key>
		<string>Пальма</string>
		<key>name</key>
		<string>Путешествие</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<false/>
		<key>colorName</key>
		<string>ArrowsInc</string>
		<key>imageName</key>
		<string>Перевод</string>
		<key>name</key>
		<string>Перевод</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Train</string>
		<key>imageName</key>
		<string>Поезд</string>
		<key>name</key>
		<string>Поезд</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Holiday</string>
		<key>imageName</key>
		<string>Праздник</string>
		<key>name</key>
		<string>Праздник</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Store</string>
		<key>imageName</key>
		<string>Продукты</string>
		<key>name</key>
		<string>Продукты</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Restaurant</string>
		<key>imageName</key>
		<string>Ресторан</string>
		<key>name</key>
		<string>Ресторан</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Plain</string>
		<key>imageName</key>
		<string>Самолет</string>
		<key>name</key>
		<string>Самолет</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Dog</string>
		<key>imageName</key>
		<string>Собака</string>
		<key>name</key>
		<string>Питомец</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>CrossArrows</string>
		<key>imageName</key>
		<string>Стрелки</string>
		<key>name</key>
		<string>Другое</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<false/>
		<key>colorName</key>
		<string>CrossArrows</string>
		<key>imageName</key>
		<string>Стрелки</string>
		<key>name</key>
		<string>Другое</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Taxi</string>
		<key>imageName</key>
		<string>Такси</string>
		<key>name</key>
		<string>Такси</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Iphone</string>
		<key>imageName</key>
		<string>Телефон</string>
		<key>name</key>
		<string>Телефон</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Transport</string>
		<key>imageName</key>
		<string>Транспорт</string>
		<key>name</key>
		<string>Транспорт</string>
	</dict>
	<dict>
		<key>isExpense</key>
		<true/>
		<key>colorName</key>
		<string>Iron</string>
		<key>imageName</key>
		<string>Утюг</string>
		<key>name</key>
		<string>Товары для дома</string>
	</dict>
</array>
</plist>
